<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<httpErrors> <!-- However, it will not work if arta is not on root but something is better than nothing! -->
			<remove statusCode="400" subStatusCode="-1" />
			<remove statusCode="401" subStatusCode="-1" />
			<remove statusCode="403" subStatusCode="-1" />
			<remove statusCode="404" subStatusCode="-1" />
			<remove statusCode="500" subStatusCode="-1" />
			<remove statusCode="501" subStatusCode="-1" />
			<remove statusCode="503" subStatusCode="-1" />
			<remove statusCode="505" subStatusCode="-1" />
			<!-- in case of subdirectory installation (for example in "/arta/"), if you want exact results, set "path"s to correct values (like "/arta/index.php") -->  
			<error statusCode="400" prefixLanguageFilePath="" path="/index.php" responseMode="ExecuteURL" />
			<error statusCode="401" prefixLanguageFilePath="" path="/index.php" responseMode="ExecuteURL" />
			<error statusCode="403" prefixLanguageFilePath="" path="/index.php" responseMode="ExecuteURL" />
			<error statusCode="404" prefixLanguageFilePath="" path="/index.php" responseMode="ExecuteURL" />
			<error statusCode="500" prefixLanguageFilePath="" path="/index.php" responseMode="ExecuteURL" />
			<error statusCode="501" prefixLanguageFilePath="" path="/index.php" responseMode="ExecuteURL" />
			<error statusCode="503" prefixLanguageFilePath="" path="/index.php" responseMode="ExecuteURL" />
			<error statusCode="505" prefixLanguageFilePath="" path="/index.php" responseMode="ExecuteURL" />
		</httpErrors>

		<defaultDocument>
			<files>
				<remove value="index.php" /> <!-- Remove index.php if exists to avoid duplicate -->
				<add value="index.php" /> <!-- Add index.php -->
			</files>
		</defaultDocument>
		<rewrite>
			<rules>
				<rule name="Rewriting Rule">
					<match url="(.*)" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
						<add input="{URL}" pattern="(/install/rewrite_test/|/admin/)" negate="true" />
						<add input="{URL}" pattern="(/|\.php|\.html|\.htm|\.xml|\.pdf|\.raw|\..{0,8}|/[^.]*)$" />
					</conditions>
					<action type="Rewrite" url="index.php" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
