<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <system.webServer>
       <rewrite>
			<rules>
			   <rule name="Test Rewriting Enability">
                   <match url="(.*)" ignoreCase="false" />
                   <conditions logicalGrouping="MatchAll">
                       <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                       <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                       <add input="{URL}" pattern="(/|\.php|\.html|\.htm|\.xml|\.pdf|\.raw|\..{0,8}|/[^.]*)$" />
                   </conditions>
                   <action type="Rewrite" url="index.php" />
               </rule>
			</rules>
       </rewrite>
   </system.webServer>
</configuration>
